<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<nav class="mui-appbar">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="mui-btn mui-btn--primary>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li class="mui-btn">
        <a href="https://sheltered-reaches-06388.herokuapp.com/db">
          View Database Items
        </a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="mui-btn">
        <a href="https://sheltered-reaches-06388.herokuapp.com/cool">
          See a Funny Face
        </a>
      </li>
    </ul>
  </div>
</nav>
