<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<nav class="mui-appbar">
  <a href="/" class="mui-btn mui-btn--primary mui-btn--raised">
    Home
  </a>
  <a href="/db" class="mui-btn mui-btn--raised">
    Items
  </a>
  <a href="/route" class="mui-btn mui-btn--raised">
    Route
  </a>
</nav>
