<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<nav class="nav-wrapper purple darken-4">
  <ul class="right hide-on-med-and-down">
    <li>
      <a href="/">
        Home
      </a>
    </li>
    <li>
      <a href="/db">
        Add Items
      </a>
    </li>
    <li>
      <a href="/route">
        View Items and Route
      </a>
    </li>
  </ul>
</nav>
