<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>
  <div class="mui-container">
    <form name="search" action="/add" method="POST" enctype="text/html">
      <label for="isbn">
        Enter an ISBN number
      </label>
      <input type="number" id="isbn" value="" name="isbn">

      <input type="submit" value="Search" class="waves-effect waves-light btn yellow">
    </form>
  </div>

  <div class="mui-panel purple lighten-2">
    <p><%= msg.isbn %></p>
  </div>

</body>
</html>
