<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="container">
  <h2>Classification Results</h2>

  <p>
    <%= resp %>
  </p>

  </div>

</body>
</html>
