<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
<h2>Database Results</h2>

<table mui-table mui-table--bordered>
  <thead>
    <th>Index</th>
    <th>Data</th>
  </thead>
  <tbody>
    <% results.forEach(function(r) { %>
      <tr>
        <td><%= r.index %></td>
        <td><%= r.data %></td>
      </tr>
    <% }); %>
  </tbody>
</ul>

</div>

</body>
</html>
