<h1 id="store-shopping-project">Store Shopping Project</h1>
<h2 id="description">Description</h2>
<h3 id="primary-aim">Primary Aim</h3>
<p>The aim of this project is to create a web-based service which allows for a quicker and more
efficient way to traverse a store, or similar environment. Specifically, this app will be a
shopping list, with the feature of giving you both:</p>
<ul>
<li>The most efficient (based on distance to walk) order in which to pick up items</li>
<li>A visual pathway to follow through the store, library, etc.</li>
</ul>
<p>This idea builds on existing services from department stores, adding what we believe to be a
key feature of navigation around the store. Existing apps from Walmart and others <em>do</em> show 
item locations, but it is then up to customers to find their way to each point on that map.</p>
<h3 id="other-domains">Other Domains</h3>
<p>In addition to use in a setting like a department store, we also envision that this app (or
at least its foundation) could be used in a variety of environments. Isaac works at the
circulation desk at Preus Library here at Luther, and I could see this app being extended so
that, with a list of item call numbers, it would generate an order in which to shelve books,
and a map showing that optimal path.</p>
<p>More generally, this project has the potential to be quite modular: ideally, it would be able
to, given a mapping of locations, and a database of items tagged with locations in that map,
provide a visual and listed optimal path between those items. This is something we may explore
in Spring, depending on time available.</p>
<h2 id="structure">Structure</h2>
<ul>
<li>How will the project be organized?<ul>
<li><a href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">MVC</a> setup (as in CS330)</li>
<li>More generally, developed in 3 domains: Frontend, Backend, Database</li>
</ul>
</li>
<li>How broad or narrow should the focus be?<ul>
<li>Start small and broaden, adding features once we have MVP</li>
</ul>
</li>
</ul>
<h2 id="languages-and-technologies">Languages and Technologies</h2>
<ul>
<li>Platform: Web App</li>
<li>Database: Could go with CS330 and use <a href="https://www.tutorialspoint.com/sqlite/sqlite_python.htm">sqlite3 w/Python</a> on backend</li>
<li>Languages to be used:<ul>
<li>HTML/CSS: Consider using <a href="https://jinja.palletsprojects.com/en/3.0.x/">Jinja templates</a> and a CSS framework</li>
<li>JavaScript: <a href="https://vuejs.org/">Vue.js</a> if comfortable for some frontend, &quot;vanilla&quot; for backend</li>
</ul>
</li>
</ul>
<h2 id="practicalities">Practicalities</h2>
<ul>
<li>Scalability<ul>
<li>Begin work with small dataset, scale up</li>
</ul>
</li>
<li>Partnerships<ul>
<li>Local stores?</li>
</ul>
</li>
</ul>
<h2 id="timeline">Timeline</h2>
<h1 id="node-information">Node information</h1>
<p>A barebones Node.js app using <a href="http://expressjs.com/">Express 4</a>.</p>
<p>Built with <a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">Getting Started on Heroku with Node.js</a>.</p>
<h2 id="running-locally">Running Locally</h2>
<p>Make sure you have <a href="http://nodejs.org/">Node.js</a> and the <a href="https://cli.heroku.com/">Heroku CLI</a> installed.</p>
<pre><code class="language-sh">$ git clone https://github.com/heroku/node-js-getting-started.git # or clone your own fork
$ cd node-js-getting-started
$ npm install
$ npm start
</code></pre>
<p>Your app should now be running on <a href="http://localhost:5000/">localhost:5000</a>.</p>
<h2 id="deploying-to-heroku">Deploying to Heroku</h2>
<pre><code>$ heroku create
$ git push heroku main
$ heroku open
</code></pre>

