<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

  <div class="mui-container">
    <h2>Items to Retrieve</h2>
    <p>
      The items below are listed in the suggested order of retrieval.
    </p>
    <a href="/add" class="waves-effect waves-light btn">
      Add More Items
    </a>
  </div>

  <table class="striped highlight">
    <thead>
      <th>Index</th>
      <th>Data</th>
    </thead>
    <tbody>
      <% results.forEach(function(r) { %>
        <tr>
          <td><%= r.index %></td>
          <td><%= r.data %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>
</html>
